/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
body {
  padding-bottom: 40px;
  color: #5a5a5a;
}

.back {
  font-size: 14px;
  line-height: 5;
}

@font-face {
  font-family: 'Logo';
  src: url('./assets/digital-7i.ttf');
}

h1.titleLogo {
  font-size: 5em;
  padding-top: 50px;
  color: white;
  text-align: center;
  font-family: Logo;
  text-shadow: 2px 2px 10px black;
}

/*Main Visual
-------------------------------------------------- */
.top {
  padding-top: 50px;
  background-size: contain;
  background-color: #777;
  background: url(https://source.unsplash.com/qyhLjwn6Gpc/);
  background-size: cover;
  background-position: center;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper>.container {
  padding-right: 0;
  padding-left: 0;
}

.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}

.navbar-wrapper .navbar .container {
  width: auto;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-6 {
  margin-bottom: 20px;
  text-align: center;
}

.marketing h2 {
  font-weight: normal;
}

.marketing .col-lg-6 p {
  margin-right: 50px;
  margin-left: 50px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 50px 0;
  /* Space out the Bootstrap <hr> more */
  margin-bottom: 50px;
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

.mytext {
  line-height: 1.55;
  font-size: 14px;
}

.about {
  padding-top: 20px;
  padding-bottom: 20px;
}

.bottom {
  padding-bottom: 50px;
}

#page-top {
  position: fixed;
  bottom: 30px;
  right: 10px;
  font-size: 75%;
}

#page-top a {
  background: #333;
  text-decoration: none;
  color: #fff;
  width: 80px;
  height: 30px;
  padding: 6px 0;
  text-align: center;
  display: block;
  border-radius: 5px;
}

#page-top a:hover {
  text-decoration: none;
  background: #333;
}

/* RESPONSIVE CSS
-------------------------------------------------- */
@media (min-width: 768px) {

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 0px;
  }

  .navbar-wrapper .container {
    margin: 0px;
    width: auto;
  }

  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
    height: auto;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 0px;
  }

  h1.titleLogo {
    font-size: 8.5em;
    padding-top: 10px;
    color: white;
    text-align: center;
    font-family: Logo;
    text-shadow: 2px 2px 10px black;
  }

  .top {
    padding-top: 100px;
  }

  .box {
    height: 360px;
  }

  .caption {
    height: 90px;
  }

  .mytext {
    font-size: 16px;
  }

  .about {
    padding-bottom: 20px;
  }

  .bottom {
    padding-bottom: 0px;
  }

  #page-top {
    bottom: 20px;
    right: 20px;
    font-size: 100%;
  }

  #page-top a {
    width: 100px;
    height: 40px;
    padding: 8px 0;
  }

  #page-top a:hover {
    text-decoration: none;
    background: #999;
  }
}