.buttonInFrontOfImage {
  position: relative;
  }

.buttonInFrontOfImage a {
  position: absolute;
  top: 50%;
  left: 40%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  cursor: pointer;
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 4.8rem;
  min-width: 16rem;
  padding: 0 1.6rem;
  text-align: center;
  background-color: #44d;
  color: #fff;
  text-shadow: 0 1px 0 #123;
  box-shadow: 0px 0px 40px 20px rgba(136, 131, 106, 0.5);
  }

.buttonInFrontOfImage a:hover{
    border: 1px solid #44d;      
  }

.buttonInFrontOfImage img {
  width: 80%;
  }

.exampleSentence {
  margin-top: 20px;
}
.exampleSentence h5 {
  margin: 10px 0px;
  text-align: center;
}

.hide {
  color:#f7f9fb;
}
.hide:hover {
  color:#333;
}

.tooltip {
  position: relative;
}
.tooltip::before,
.tooltip::after {
  position: absolute;
  transition: all 0.3s ease 0s;
  opacity: 0;
}
.tooltip::before {
  content: "";
  border: 10px solid transparent;
  border-bottom-color: #555;
  top: 30px;
  left: 30px;
}
.tooltip::after {
  font-size: medium;
  content: attr(data-tooltip);
  display: block;
  padding: 0px 10px;
  background: #555;
  color: #fff;
  border-radius: 5px;
  top: 50px;
  left: 0;
}
.tooltip:hover::before{
  top: 36px;
  opacity: 1;
}
.tooltip:hover::after{
  top: 56px;
  opacity: 1;
}
ol.closing_bracket {
  list-style-type: none;
}
ol.closing_bracket > li {
  counter-increment: cnt;
  padding-left:1.0em;
  text-indent:-2.5em;
}
ol.closing_bracket > li:before {
  content: counter(cnt) ") ";
  margin-right:1.25em;
}